<html>
  <head></head>
  <body>

    <h1>Create New Item</h1>

    <form action="/item/create" method="POST">
      <p>Name: <input type="text" name="name"/> </p>
      <input type="submit" value="Create"/>
    </form>
  </body>
</html>
