<html>
  <head></head>
  <body>

    <h1>Create New Item</h1>


    <form id="new_item" action="/items/create" method="POST">
      <h4 class="item_form">Merchant</h4>
      <select class="item_form" form="new_item" name="merchant_id">

        <% merchants.each do |merchant| %>

          <option value="<%= merchant.id %>">
            <%= merchant.name %>
          </option>

        <% end %>
      </select>

      <h4 class="item_form">Title</h4>
      <input class="item_form" type="text" name="title"/>

      <h4 class="item_form">Description</h4>
      <input class="item_form" type="text" name="description"/>

      <h4 class="item_form">Price</h4>
      <input class="item_form" type="number" step="any" name="price"/>

      <h4 class="item_form">Image URL</h4>
      <input class="item_form" type="text" name="image_url"/>

      <br><br>

      <left>
        <input class="button-small" type="submit" name="cancel" value="Cancel"/>
      </left>

      <right>
        <input class="button-small" type="submit" value="Create"/>
      </right>
    </form>
  </body>
</html>
