    <h1>Create New Item</h1>


    <form class="item_form" action="/items/create" method="POST">
      <h4 class="item_form_details">Merchant</h4>
      <select class="item_form_details" name="merchant_id">

        <% merchants.each do |merchant| %>

          <option value="<%= merchant.id %>">
            <%= merchant.name %>
          </option>

        <% end %>
      </select>

      <h4 class="item_form_details">Title</h4>
      <input class="item_form_details" type="text" name="title"/>

      <h4 class="item_form_details">Description</h4>
      <textarea class="item_form_details" rows="15" type="text" name="description"></textarea>

      <h4 class="item_form_details">Price</h4>
      <input class="item_form_details" type="number" step="any" name="price"/>

      <h4 class="item_form_details">Image URL</h4>
      <input class="item_form_details" type="text" name="image_url"/>

      <br><br>

      <left>
        <input class="button-small" type="submit" name="cancel" value="Cancel"/>
      </left>

      <right>
        <input class="button-small" type="submit" value="Create"/>
      </right>
    </form>
