<html>
  <head></head>
  <body>

    <h1>Create New Item</h1>

    <form action="/items/create" method="POST">
      <p>Name: <input type="text" name="title"/> </p>
      <p>Description: <input type="text" name="description"/> </p>
      <p>Price: <input type="number" step="any" name="price"/> </p>
      <p>Merchant ID: <input type="number" name="merchant_id"/> </p>
      <input class="button-small" type="submit" value="Create"/>
    </form>
  </body>
</html>
