<html>
  <head></head>
  <body>

    <h1>Create New Invoice</h1>

    <form action="/invoices/create" method="POST">
      <p>Merchant ID: <input type="text" name="name"/> </p>
      <input type="submit" value="Create"/>
    </form>
  </body>
</html>
