<html>
<head>
  <title>Invoices</title>
</head>
<body>
<h1>Invoices</h1>

<form action="/invoices/new" method="GET">
  <input class="button-small" type="submit" value="Create New invoice"/>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% invoices.each do |invoice| %>

    <tr>
      <td> <a href="/invoices/<%= invoice.id %>/view"><%= invoice.id %></a></td>
      <td>
        <form action="/invoices/<%= invoice.id %>/edit" method="GET">
          <input class="edit_button"type="submit" value="Edit"/>
        </form>
      </td>
      <td>
        <form action="/invoices/<%= invoice.id %>/delete" method="POST">
          <input type="hidden" name="_method" value="DELETE"/>
          <input class="delete_button" type="submit" value="Delete"/>
        </form>
      </td>
    </tr>

  <% end %>

</table>
</body>
</html>
