<html>
  <head></head>
  <body>
    <h1>Edit Merchant</h1>
      <table class="dummy_table">
        <form action="/merchants/<%= merchant.id %>/edit" method="POST">
          <input type="hidden" name="_method" value="PATCH" />
          <p>Name: <input type="text" name="new_name" value="<%= merchant.name %>"/></p>
          <input class="button-small" type="submit" name="cancel" value="Cancel"/>
          <input class="button-small" type="submit" value="Update Merchant"/>
        </form>
      </table>
  </body>
</html>
