<html>
  <head></head>
  <body>
    <h1>Edit Merchant</h1>
      <table class="dummy_table">
        <form action="/merchants/<%= merchant.id %>/edit" method="POST">
          <input type="hidden" name="_method" value="PATCH" />
          Name: <input type="text" name="new_name" value="<%= merchant.name %>"/>

          <br>
          <br>

          <form action="/merchants/<%= merchant.id %>/view">
            <input class="button-small" type="submit" value="Cancel"/>
          </form>

          <input class="button-small" type="submit" value="Update Merchant"/>
        </form>
      </table>
  </body>
</html>
