<html>
  <head>
    <title>Merchants</title>
  </head>
  <body>
    <left><a href="/merchants-dashboard">Dashboard</a></left><br>
    <h1>Merchants</h1>

    <form action="/merchants/new" method="GET">
      <input class="button-small" type="submit" value="Create New Merchant"/>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      <% merchants.each do |merchant| %>

      <tr>
        <td> <a href="/merchants/<%= merchant.id %>/view"><%= merchant.name %></a></td>
        <td>
          <form action="/merchants/<%= merchant.id %>/edit" method="GET">
            <input class="edit_button"type="submit" value="Edit"/>
          </form>
        </td>
        <td>
          <form action="/merchants/<%= merchant.id %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input class="delete_button" type="submit" value="Delete"/>
          </form>
        </td>
      </tr>

        <% end %>

    </table>
  </body>
</html>
