<html>
  <head></head>
  <body>

    <h1>Create New Merchant</h1>

    <form action="/merchants/new" method="POST">
      <p>Name: <input type="text" name="name"/> </p>
      <input class="button" type="submit" value="Create"/>
    </form>
  </body>
</html>