h1 {
  background: white;
  height: 50px;
  padding: 10px 0px 40px 0px;
  font-size: 40px;
}

p {

}

box {
  border: black solid 4px;
  display: inline-block;
  margin: 0px 20px;
  width: 400px;
  height: 400px;
  vertical-align: top;
}

box p2 {
  font-size: 40px;
  padding-top: 100px;
}

box p3 {
  font-size: 25px;
  padding-top: 100px;
  text-decoration: underline;
}

box a {
  font-size: 14px;
  padding: 125px 0px;
}
