<html>
  <head><title>Little Shop Redux</title></head>
  <body>
    <ul>
      <li>
        <form action="/merchants">
          <input type="submit" value="Merchants"/>
        </form>
      </li>
      <li>
        <form action="/items">
          <input type="submit" value="Items"/>
        </form>
      </li>
      <li>
        <form action="/invoices">
          <input type="submit" value="Invoices"/>
        </form>
      </li>
    </ul>
  </body>
</html>