<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
  </head>
  <nav>
    <ul>
      <li class="nav_left">
        <form action="/">
          <input class="nav_button" type="submit" value="LittleShop"/>
        </form>
      </li>
      <li class="nav_right">
        <form action="/merchants">
          <input class="nav_button" type="submit" value="Merchants"/>
        </form>
      </li>
      <li class="nav_right">
        <form action="/items">
          <input class="nav_button" type="submit" value="Items"/>
        </form>
      </li>
      <li class="nav_right">
        <form action="/invoices">
          <input class="nav_button" type="submit" value="Invoices"/>
        </form>
      </li>
    </ul>
  </nav>
  <body>

    <%= yield %>

  </body>
</html>
